body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #121b1a, #1d1a2d);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  background-image: linear-gradient(to right, #121b1a, #1d1a2d);
}

.btnTabs {
  background-image: linear-gradient(45deg, #283334, #303541);
  border: none !important;
  color: white !important;
  padding: 1.5rem !important;
  text-align: center !important;
}
.btnTabs.active {
  transform: scale(1.1);
  transform-origin: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  z-index: 111;
}
.lists {
  background-image: linear-gradient(45deg, #202829, #303541);
}

.tareq {
  background-color: rgb(42, 35, 104) !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  padding: 0 !important;
  margin: 0 !important;
  min-width: 0 !important;
}